USE [master]
GO
/****** Object:  Database [CheckBoxListOperationDB]    Script Date: 7/10/2015 8:58:11 PM ******/
CREATE DATABASE [CheckBoxListOperationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CheckBoxListOperationDB', FILENAME = N'i:\SetupFiles\SQLServer\MSSQL11.SQLEXPRESS\MSSQL\DATA\CheckBoxListOperationDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CheckBoxListOperationDB_log', FILENAME = N'i:\SetupFiles\SQLServer\MSSQL11.SQLEXPRESS\MSSQL\DATA\CheckBoxListOperationDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CheckBoxListOperationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CheckBoxListOperationDB]
GO
/****** Object:  Table [dbo].[tblUserAccess]    Script Date: 7/10/2015 8:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUserAccess](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserAccessName] [varchar](300) NOT NULL,
 CONSTRAINT [PK_tblUserAccess] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUserRoll]    Script Date: 7/10/2015 8:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUserRoll](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserRollValue] [varchar](50) NOT NULL,
	[RollStatus] [varchar](50) NOT NULL,
	[UserAccessNameId] [int] NOT NULL,
 CONSTRAINT [PK_tblUserRoll] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
